h1= title
p Welcome to #{title}

form(action='/upload', enctype='multipart/form-data', method='post')
  input(type='text', name='title')
  input(type='file', name='upload')
  br
  input(type='submit', value='Upload')
div#progress
  Progress: 0%
